/*---------------------------------- INFOS GENÉRICAS ----------------------------------*/

:root {
  --primary-background-color: black;
  --header-background-color:black;
  --header-text-color: white;
  --font-family: 'Bebas Neue', sans-serif;
}

/* #081226 */


body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--primary-background-color);
}


.conteudo-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.conteudo-header header {
  height: 70px;
  max-width: 1175px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--header-background-color);
  box-shadow: 0 2px 8px indigo;
  border-radius: 10px;
}

.conteudo-header header .logo a {
  font-family: var(--font-family);
  font-size: 36px;
  color: var(--header-text-color);
  text-decoration: none;
}

.conteudo-header header ul {
  list-style: none;
  margin: 0;
  display: flex;
}

.conteudo-header header ul li {
  margin-right: 15px;
}

.conteudo-header header nav ul li a {
  font-family: var(--font-family);
  text-decoration: none;
  font-size: 20px;
  color: var(--header-text-color);
  transition: color 0.3s, font-size 0.3s;
}

.conteudo-header header nav ul li a:hover {
  color: indigo;
  font-size: 21px;
}

.containerzao {
  font-family: var(--font-family);
  color: var(--header-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  background-color: var(--primary-background-color);
  padding: 20px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

/*---------------------------------- HEADER ----------------------------------*/

.conteudo-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.conteudo-header header {
  height: 70px;
  max-width: 1175px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--header-background-color);
  box-shadow: 0 0 25px indigo ;
  border-radius: 10px;
}

.conteudo-header header .logo a {
  font-family: var(--font-family);
  font-size: 36px;
  color: var(--header-text-color);
  text-decoration: none;
}

.conteudo-header header ul {
  list-style: none;
  margin: 0;
  display: flex;
}

.conteudo-header header ul li {
  margin-right: 15px;
}

.conteudo-header header nav ul li a {
  font-family: var(--font-family);
  text-decoration: none;
  font-size: 20px;
  color: var(--header-text-color);
  transition: color 0.3s, font-size 0.3s;
}

.conteudo-header header nav ul li a:hover {
  color: indigo;
  font-size: 21px;
}

#nav ul {
  list-style: none;
  display: flex;
}

#nav li {
  margin-right: 15px;
}

#nav a {
  text-decoration: none;
  color: var(--header-text-color);
  transition: color 0.3s, font-size 0.3s;
  font-size: 24px;
}

#nav a:hover {
  color: indigo;
  font-size: 28px;
}

/*---------------------------------- INICIO ----------------------------------*/

.apresentacaoHome {
  font-family: var(--font-family);
  color: white;
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apresentacaoEscritaHome{
  padding: 50px;
  padding-bottom: 50px;
  font-family: var(--font-family);
  color: white;
  font-size: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linksContainer {
  padding-top: 30px;
  display: flex; 
  justify-content: center; 
  gap: 20px;
}

.link img {
  border: none;
  padding-right: 20px; 
  height: 60px;
  width: 60px;
  justify-content: center;
}


.apresentacaoHome a {
  text-decoration: none;
  font-family: var(--font-family);
  font-size: 20px;
  color: white;
  transition: transform 0.3s; 
}


.link img:hover {
  height: 70px;
  width: 70px;
}


.link {
  background-color: var(--primary-background-color);
  border: 1px solid var(--primary-background-color);
  font-family: var(--font-family);
  border-radius: 10px;
  padding: 0px;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 45px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.3s;
}

/*---------------------------------- SOBRE ----------------------------------*/

.h1Sobre {
  font-family: var(--font-family);
  font-size: 24px; 
  color: var(--header-text-color);
  text-decoration: none;
  text-align: center; 
  margin-top: 80px; 
}

.apresentacaoSobre {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  width: 80%;
  padding-left: 20px;
  background-color: var(--primary-background-color);
  margin-bottom: 20px;
}

.containerImagem {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  width: 35%;
  max-width: 1000px;
  background-color: var(--primary-background-color);
  padding: 20px;
  border: none;
  border-radius: 0;
  position: relative;
  z-index: 1;
  margin-top: 0; 
}

.containerImagem img {
  max-width: 100%; 
  max-height: 100%; 
  box-shadow: 0 0 10px indigo ;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interessesPessoais{
  font-family: var(--font-family);
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  width: 80%;
  padding-left: 20px;
  background-color: var(--primary-background-color);
  margin-bottom: 20px;
}

.interesses-container {
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.interesse {
  background-color: var(--primary-background-color);
  box-shadow: 0 0 10px indigo ;
  border-radius: 5px;
  padding: 25px;
  align-items: center;
  text-align: center;
  font-size: medium;
  width: 230px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  transition: background-color 0.3s;
}

.interesse img {
  height: 42px; 
  width: 42px; 
  margin-right: 10px; 
}

.interesse:hover {
  background-color: indigo; 
  color: black;
  transform: scale(1.1); 

}

.infosPessoais {
  background-color: var(--primary-background-color);
  text-align: center;
  padding: 20px;
  margin-bottom: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: 300px; 
}

.info {
  text-align: left;
}

.info h3 {
  text-align: center;
  margin: 0;
  color: white
}

.info p {
  text-align: center;
  font-size: medium;
  margin: 0;
  color: grey
}

/*---------------------------------- PROJETOS ----------------------------------*/

.projetosContainer{
  text-decoration: var(--primary-background-color);
  display: flex;
  justify-content: center;
  gap: 20px; 
  padding-bottom: 30px;
}

.projeto{
  text-decoration: none;
  background-color: black;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px indigo ;
  width: 240px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.3s;

}

.projeto:hover {
  background-color: indigo; 
  color: black;
  transform: scale(1.1); 

}

.projeto img {
  height: 100px; 
  width: 100px; 
  margin-top: 10px;
}

.apresentacaoProjetos {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  font-size: x-large;
  width: 70%;
  padding-left: 20px;
  background-color: var(--primary-background-color);
  margin-bottom: 70px;
}

.projetosContainer a {
  text-decoration: none;
}

.projeto a {
  color: white;
  text-decoration: none;
}

.projeto a :hover{
  color:#000
}


/*---------------------------------- SKILLS ----------------------------------*/

.skillsContainer {
  display: flex;
  justify-content: center;
  gap: 20px; 
  padding-bottom: 30px;
}

.apresentacaoSkill {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  font-size: x-large;
  width: 65%;
  padding-left: 20px;
  background-color: var(--primary-background-color);
  margin-bottom: 20px;
  margin-top: 60px;
}

.skillsContainer:nth-child(1) {
  flex-direction: row; 
}

.skillsContainer:nth-child(2) {
  flex-direction: row; 
}

.skill img {
  height: 50px; 
  width: 50px; 
  margin-right: 10px; 
}

.skill:hover {
  background-color: indigo; 
  color: black;
  transform: scale(1.1); 

}

.skill {
  background-color: var(--primary-background-color);
  box-shadow: 0 0 10px indigo ;
  border-radius: 10px;
  padding: 15px;
  align-items: center;
  text-align: center;  width: 240px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.liguagensFerramentas{
  font-family: var(--font-family);
  font-size: xx-large;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  width: 80%;
  padding-left: 20px;
  background-color: var(--primary-background-color);
  margin-bottom: 20px;
}


/*---------------------------------- CONTATO ----------------------------------*/

.apresentacaoContato {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  padding-top: 0px;
  flex-direction: column;
  font-size: x-large;
  width: 65%;
  padding-left: 20px;
  background-color: var(--primary-background-color);
  margin-bottom: 50px;
}

.contatoContainer {
  display: flex;
  justify-content: center;
  gap: 20px; 
  padding-bottom: 30px;
}

.contato img {
  height: 42px; 
  width: 42px; 
  margin-right: 10px; 
}

.contato:hover {
  background-color: indigo; 
  color: black;
  transform: scale(1.1); 

}

.contato {
  background-color: black;
  box-shadow: 0 0 10px indigo ;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 5px indigo;
  width: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.3s;
}

.contato a {
  text-decoration: none;
  color: white ;

}

.contato a:hover {
  color: black;
}

.contatoContainer a {
  text-decoration: none;
}

.contato a {
  color: white;
  text-decoration: none;
}

/*---------------------------------- FOOTER ----------------------------------*/

footer {
  padding-top: 150px;
  font-family: var(--font-family);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
  height: 160px; 
  padding: 0;
}

.conteudoFooter {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.emails {
  display: flex;
  flex-direction: column; 
  margin-left: 10px; 
}



